@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&family=Zen+Tokyo+Zoo&display=swap");
:root {
  --primary-background: rgb(84, 67, 107);
  --secondary-background: rgb(113, 239, 163);
  --primary-color: rgb(84, 67, 107);
  --secondary-color: rgb(80, 203, 147);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  color: black;
  font-family: "Roboto Mono", monospace;
  background-image: url(money.png);
  background-size: contain;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.container {
  display: grid;
  place-items: center;
  margin: auto;
  max-width: 550px;
  min-height: 90vh;
  padding: 20px;
  text-align: center;
}
.card {
  width: 100%;
  background-color:grey ;
  border-radius: 1rem;
  padding: 1rem;
 
}
.card-header {
  display: grid;
  place-items: center;
  padding: 1rem 0;
  border-bottom: 1px dotted var(--primary-background);
  align-items: center;
}
.card-header h1 {
  font-family: "Zen Tokyo Zoo", cursive;
}
.card-header p {
  width: 80%;
  padding: 0.5rem 0;

  font-weight: 400;
}
.card-body {
  padding: 2rem 0;
}
.input-group {
  width: 100%;
  display: grid;
  place-items: center;
  padding: 0.5rem 0;
}
.input-group label,
label {
  display: block;
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.75rem 0;
}
.input-group input {
  display: block;
  width: 90%;

  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  border: 2px solid var(--primary-color);
  border-radius: 0.75rem;
}
.input-group input:focus {
  outline: none;
  border: 2px solid var(--secondary-color);
  border-radius: 0.75rem;
}
.btn {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;
  border: 2px solid var(--primary-color);
  background-color: lightgray;
  color: var(--primary-color);
  cursor: pointer;
  margin: 0.75rem 0;
}
.btn:hover {
  background-color: var(--primary-background);
  color: var(--secondary-color);
}
.hidden {
  display: none;
}
.card-footer {
  padding: 0.75rem 0;
}

#output table {
  border: 1px solid var(--primary-color);
  width: 100%;
  table-layout: fixed;
}
th,
td {
  border: 1px dotted var(--primary-color);
  width: 20px;
  word-wrap: break-word;
}